
body{
    background-image: url('shops.jpg');
    margin: 0%;
}

a{
    text-decoration: none;
}

.RegiPanel{
    background-color: #7ce7ca;
    text-align: center;
    border-width: 5px;
    border-color: rgb(238, 84, 84);
    border-style: solid;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 1200px;
    margin-right: 40px;
    margin-top: 150px;
}

ul {
			
    list-style-type: none;
     padding:0;
     margin:0;
     position: fixed; /* Make it stick, even on scroll */
     overflow: auto;
     top:0;
     width:100%;
     background-color: black;
 
  }
  
  
li {
     float: left;
 }



li a {
     
     display: inline-block;
     color: white;
     padding: 30px 50px;
     text-decoration: none;
 }


li a:hover {
     
         color: 7CE7CA ;
       }
       
li a:hover:not(.active) {
 background-color:  #7CE7CA;
 color: white;
}

#Username  {
  
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: white;
  background-position:left;
  background-repeat: no-repeat;
  padding-left: 40px;
  border: none;
  border-bottom: 2px solid red;
}

#Password
{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid red;
}

#Email 
{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid red;
}

.RegiPanel i{
    position: absolute;
    color: rgb(66, 200, 194);
    padding: 20px 10px;
}
#Client{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid red;
}

h1{
    background-color: #7CE7CA;
    font-family: Impact;
    font-size: 78px;
    padding:20px;
    margin-top: 78px;
    width:100%;
    text-align: center;
    
}

h2{
    font-family: cursive;
}