
body{
    background-image: url('shops.jpg');
    margin: 0%;
}

a{
    text-decoration: none;
}

.RegiPanel{
    background-color: #7ce7ca;
    text-align: center;
    border-width: 5px;
    border-color: rgb(238, 84, 84);
    border-style: solid;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 1200px;
    margin-right: 40px;
    margin-top: 150px;
}

.NavButtons{
    background-color: black;  
    width: ; 
}

.NavButtons button{
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    font-weight: bold;
}

.NavButtons button:hover{
    background-color:  #7ce7ca;
}

#Username  {
  
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: white;
  background-position:left;
  background-repeat: no-repeat;
  padding-left: 40px;
  border: none;
  border-bottom: 2px solid red;
}

#Password
{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid red;
}

#Email 
{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid red;
}

.RegiPanel i{
    position: absolute;
    color: rgb(66, 200, 194);
    padding: 20px 10px;
}
#Client{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border: none;
    border-bottom: 2px solid red;
}

h1{
    margin:auto ;
    font-size: 70px;
    font-family:Impact;
    background-color: #7ce7ca;
    border-style: none;
    border-color: red;
    text-align : center;
    border-bottom: 2px solid red;
    padding:20px;
    width: 100%;
}

h2{
    font-family: cursive;
}