body{
		     background-image: url('customer.jpeg');
	         background-size:500px;
		     margin:0;
			 background-color: #7CE7CA ;
			 
			 }
			 #logout{
				 color:red;
				 position: fixed;
				 margin-left:140px;
			 }
			 
			 #wholepage{
				 width:1800px;
			 }
			 
			 
			 
			
			 #logo{ 
			 margin:auto;
			 text-align: center;
			 }
			 			 
			 ul {
			
                   list-style-type: none;
					padding:0;
					margin:0;
					position: fixed; /* Make it stick, even on scroll */
					overflow: auto;
					top:0;
					width:100%;
                    background-color: black;
				
                 }
				 
				 
		     li {
					float: left;
				}
 
           
             
			li a {
			        
			        display: inline-block;
					color: white;
					padding: 30px 50px;
					text-decoration: none;
				}
       
			
			li a:hover {
					
						color: 7CE7CA ;
					  }
					  
			 li a:hover:not(.active) {
                background-color:  #7CE7CA;
                color: white;
             }
			 
			 button:hover {
					
						color: 7CE7CA ;
					  }
					  
			button:hover:not(.active) {
                background-color:  #7CE7CA;
                color: red;
             }
			 
			 

			h1{
				background-color: #7CE7CA;
				font-family: Impact;
				font-size: 78px;
				padding:20px;
				margin-top: 78px;
				width:100%;
				text-align: center;
    
			}
			.back{
				margin-left:750px;
				margin-top:5px;
				padding:14px 40px;
				font-size: 24px;
				background-color:turquoise;
			}
			.ex1 {
			background-color: #7CE7CA;
			width: 70%;
			height: 40%;
			overflow: auto;
			margin-left:300px;
			margin-bottom:5%;
			
			
			}
			table, th, td {
				border: 3px solid black;
				border-collapse: collapse;
				
			}
			th, td {
				padding: 20px;
				text-align: center;
			}
			td{
				padding:20px 50px;
				font-family: Georgia, serif;
			}
			th {
				text-align: center;
			}


			
    }