{% load static %}
    <link rel="stylesheet" href="{% static 'user/EmployeePersonal.css' %}"> 

    <element event='some JavaScript'>
<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee personal update</title>
    <link rel="stylesheet" href="EmployeePersonal.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<h1>Here you can update your personal Info!</h1>
</head>

<body>

<center>
    <ul>
		<li><a href="{% url 'user:EmployeeHome' %}" >Home</a></li>
		<li><a href="{% url 'user:Login' %}" style="color:red"><strong>Logout<strong></a></li>
  </ul>



		
		
  <div id="signup" > 		
   
  <button class="open-button" onclick="openChangePassword()"> update password </button>
        

  <div class="RegiPanel" id="FormPassword">
    <h2>fill in the desired fields:</h2>
    <form action="{% url 'user:EmployeePasswordUpdate' %}" method="post" class="form-container">
       {% csrf_token %} 
       <p class="user1">

            <label for="Username"></label>
            <i class="fas fa-id-badge"></i>
            <input type="text" name="user_name" id="Username" placeholder="enter username" minlength="6" maxlength="15">

        </p>
        <p>
            <label for="Password"></label>
            <i class="fas fa-lock" aria-hidden="true"></i>
            <input type="password" name="password" id="Password" placeholder="enter password" minlength="6"
                maxlength="20">
        </p>


        <p>
            <label for="confirm-Password"></label>
            <i class="fas fa-lock" aria-hidden="true"></i>
            <input type="password" name="password_conf" id="Password" placeholder="confirm password" minlength="6"
                maxlength="20">

        </p>


        <p>
            <button>update password</button>
        </p>
         
        <p>
        <button type="button" onclick="closeChangePassword()">Close</button>
        </p>

    </form>

    </div>


        <button class="open-button" onclick="openChangeEmail()" > update email </button> 
        <div class="RegiPanel" id="FormEmail">
            <h2>fill in the desired fields:</h2>
           
         <form action="{% url 'user:EmployeeEmailUpdate' %}" method="post"   class="form-container">
              {% csrf_token %} 
        
                <p class="user1">
        
                    <label for="Username"></label>
                    <i class="fas fa-id-badge"></i>
                    <input type="text" name="user_name" id="Username" placeholder="enter username" minlength="6" maxlength="15">
        
                </p>
                
        
                <p>
                    <label for="Email"></label>
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="email" id="Email" placeholder="new email" >
                </p>
                
                <p>
                    <button>update email</button>
                </p>
                <p>
                    <button type="button" onclick="closeChangeEmail()">Close</button>
              </p>
        
            </form>
        
        
        </div>
       
        
</div>





    <script>
        function openChangePassword() {

          document.getElementById("FormPassword").style.display = "block"; 
        }
        
        function closeChangePassword() {
          document.getElementById("FormPassword").style.display = "none";
        }


        function openChangeEmail() {
          document.getElementById("FormEmail").style.display = "block";
        }
        
        function closeChangeEmail() {
          document.getElementById("FormEmail").style.display = "none";
        }

  </script>
        
    </center>

</body>

</html>