
{% load static %}
    <link rel="stylesheet" href="{% static 'user/Login.css' %}"> 
<html>

	<head>
	    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>Login</title>
        
    

	</head>



<body>

  <ul>
		<li><a href="{% url 'user:Login' %}" >Home</a></li>
		<li><a href="{% url 'user:About' %}">About</a></li>
		<li><a href="{% url 'user:Contact' %}">Contact</a></li>
		
  </ul>
  
   <div id="logo">
	     <br> <br> <br> <br> <br> <br>
        <img src="{% static 'user/Infopacity-logo.png'%}">
            
	     
    </div>
	
	
	    
		  
	<div id="login">
	
	 <form action="{% url 'user:User_Login' %}" method="post">
     {% csrf_token %} 
     <h1>
      Log in:</br></br>
	 </h1>
    <label for="uname"></label>
    <input type="text" id="uname" name="user_name" placeholder="User name..."></br></br>
     
	<label for="pass"></label>
    <input type="text" id="pass" name="password" placeholder="Password..."></br>

       
  
   
   <div id="forgot">
	Forgot password?
	</div>
	
    </br></br> 
    <label for="duty">Authorization:</label><br>
    <select id="duty" name="duty" >
      <option value="Manager">Manager</option>
	  <option value="Employee">Employee</option>
       <option value="Client">Client</option>
    </select>
	
    </br></br> </br>

	
	<div id="sing up">
	
	<a href="{% url 'user:Register' %}" >Don't have an account? Sign up </a>
	
	</div>
    
   <input type="submit" value="Login" ></br>

    </form>
    

    <p>
        {% if obj1 == "error"  %}
       
        <div id="error"></div>
       
   
        {% endif %}
    </p>
  
        

	</div>
     </br> </br>
     
    <script>

      var div = document.createElement("div");
      
      div.style.textalign = "center" ;
      //div.style.textshadow = "2px 2px 4px #ec4e4e" ;
      div.style.color = "red";
      div.innerHTML = "Login failed, please try again..";

      document.getElementById("error").appendChild(div);
        

    </script>
  
</body>
</html>