{% load static %}
    <link rel="stylesheet" href="{% static 'ManagerHome/ManagerHome.css' %}"> 


<html>

	<head>
	    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>ManagerHome</title>
    <link rel="stylesheet" href="ManagerHome.css">
	<h2>Welcome to Manager Homepage!</h2>

	</head>



<body>
<div id="wholepage" >
  <ul>
		<li><a href="{% url 'user:ManagerHome' %}" >Home</a></li>
		<li><a href="{% url 'user:About' %}">About</a></li>
		<li><a href="{% url 'user:Contact' %}">Contact</a></li>
		<li id="logout"><a href="{% url 'user:Login' %}" style="color:red"><strong>Logout<strong></a></li>
  </ul>
		
		
		
		    <p id="search">
					<label for="confirm-Password"></label>
                    <i class="fas fa-lock" aria-hidden="true"></i>
                    <input type="text" name=" confirm Password" id="Password"  placeholder="search for other business places" minlength="6"
                        maxlength="20" <p>
                            <button>Search</button>
                </p>>
						
						
			</p>
			
			
			<div id="signup" > 
		
		
			
			<ol id="list" >
				<li > <a id="d"  href="{% url 'user:ManagerUpdate' %}">update personal details </a></li>
				<li> <a href="ManagerBusinessUpdate.html" > update business details </a> </li>
				
			
		</ol>
		
		
		
		
		
		</div>
			
			
			
			
			
				
		
</div>		
</body>
</html>


	 