body{
	background-image: url('emp.jpeg');
	background-size:500px;
	margin:0;
	background-color: #7CE7CA ;
	
	}
   
	#logout{
	   color:red;
	   position: fixed;
	   margin-left:140px;
   }
	
	#wholepage{
		width:1800px;
	}
	
	#signup{
	   border:3px solid black;
	   width:20%;
	   height:300px;
	   background-color:#1E9FC4;
	   text-align:center;
	   border-radius:10px;
	   margin-left:37%;
	   float:center;
}
	
	#list{
	   color:blue;
	   font-size:17px;
	   /*text-align:center;*/
	   margin-left:1px;
	   list-style-type:none;
	   
	   right: 20px;
	   width: 300px;

/*
	   margin:5px;
	   background-color: #1E9FC4;
	   padding: 16px 20px;
	   border: none;
	   cursor: pointer;
	   opacity: 0.8;
	   bottom: 23px;
	   right: 28px;
	   width: 280px;*/



}
	#logo{
	
	
	
	margin:auto;
	
	text-align: center;
	
	
	
	}
	
	
	
	#search{
	   width: 30%;
	   border-radius: 5px;
	   margin: 8px 0;
	   box-sizing: border-box;
	   background-color: white;
	   background-position: 10px 10px;
	   background-repeat: no-repeat;
	   padding-left: 40px;
	   border: none;
	   border-bottom: 2px solid red;
	   margin-left:33%;
	   background-color:#1E9FC4;
	   
	   
	}
	
	#Password{
		width:53%;
	   padding: 12px 20px;
	   margin: 8px 0;
	   box-sizing: border-box;
	   background-color: white;
	   background-position: 10px 10px;
	   background-repeat: no-repeat;
	   padding-left: 40px;
	   border: none;
	   border-bottom: 2px solid red;
	   margin-left:5%
	}
	
	ul {
   
	   list-style-type: none;
		padding:0;
		margin:0;
		position: fixed; /* Make it stick, even on scroll */
		overflow: auto;
		top:0;
		width:100%;
		background-color: black;
	
	 }
	 
	 
   li {
		float: left;
	}
   
   
   
   li a {
		
		display: inline-block;
		color: white;
		padding: 30px 50px;
		text-decoration: none;
	}
   
   
   li a:hover {
		
			color: 7CE7CA ;
		  }
		  
   li a:hover:not(.active) {
	background-color:  #7CE7CA;
	color: white;
   }

	button:hover {
		   
			   color: 7CE7CA ;
			 }
			 
   button:hover:not(.active) {
	   background-color:  #7CE7CA;
	   color: red;
	}
	
	
	
	#login{
	
	float:center;
	   text-align: center;
	border-radius: 5px;
	background-color: white; 
	border:10px solid #a9efdc ;  
	 margin:auto;
	margin:10px;
	padding :6px;
	width:30%;

	}
	
	
	h1{
	
	text-shadow: 2px 2px 5px #7CE7CA;
	}
	
	h3{
		color:white;
		
	}
	
	
   input[type=text], select {
   width: 50%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   }

   
	input[type=submit]{
   width: 50%;
   background-color: #a9efdc;
   font-weight: bold;
   color: black;
   padding: 10px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   
   }

   input[type=submit]:hover {
   background-color: #7CE7CA;
   font-weight: bold;
   color: white;
   }
   h2{
	   background-color: #7CE7CA;
	   font-family: Impact;
	   font-size: 78px;
	   padding:20px;
	   margin-top: 78px;
	   width:100%;
	   text-align: center;

   }
   
   .open-button {
	   margin:5px;
	   background-color: #1E9FC4;
	   color: red;
	   padding: 16px 20px;
	   border: none;
	   cursor: pointer;
	   opacity: 0.8;
	   bottom: 23px;
	   right: 20px;
	   width: 280px;
   }

	#f{
		font-size:5px;
		font-weight:bold;
	}
	
	#f2{
		font-size:17px;
		font-weight:bold;
	}
	
	body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}




.form-popup {
background-color: #7ce7ca;
text-align: center;
border-width: 5px;
border-color: black;
border-style: solid;
border-radius: 30px;
margin-top: 10px;
width:375px;
bottom: 220px;
margin-left:-2.5%;
display: none;
position: absolute;
z-index: 9;
position: fixed;
height: 330px;
}


.form-container {
max-width: 300px;
padding: 10px;
background-color: #7CE7CA;
border-radius: 15px;
}


.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 15px;
margin: 5px  22px 0;
border: none;
background: #f1f1f1;
margin-left:11%;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: #ddd;
outline: none;
}


.form-container .btn {
background-color: #4CAF50;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-bottom:10px;
opacity: 0.8;
}


.form-container .btn:hover, .open-button:hover {
opacity: 1;
}
	 


